.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/

/outputs/
/models/

/wandb/
/run_outputs/
.env
/data/analyse-tal/*.csv
/data/analyse-tal/mini/
/data/analyse-tal/*.pdf
/data/ten-dim/testing/
/data/analyse-tal/
/visuals/
models_results/
/logs/
.DS_Store

# VIKTOR
src/worker_vs_gpt/evaluation/misc.ipynb
src/worker_vs_gpt/evaluation/subset*/*/*.json
src/worker_vs_gpt/evaluation/old